*{margin:0;padding:0;box-sizing:border-box}
body{font-family:Arial;background:#f5f6fa}
.container{width:90%;max-width:1200px;margin:auto}

/* HEADER */
.header{background:#111;color:#fff;padding:15px 0}
.header-content{display:flex;justify-content:space-between}

/* PRODUCT GRID */
.products{padding:40px 0}
.product-grid{display:grid;grid-template-columns:repeat(4,1fr);gap:20px}

.product-card{
    background:#fff;
    padding:15px;
    border-radius:10px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.product-card img{
    width:100%;
    height:180px;
    object-fit:contain;
}

.product-card h3{font-size:14px;margin:10px 0}
.price{color:green;font-weight:bold}

.product-card button{
    width:100%;
    padding:8px;
    border:none;
    background:#111;
    color:#fff;
    border-radius:5px;
}

/* PRODUCT DETAIL */
.product-detail{padding:50px 0}
.product-detail-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:40px;
}

.product-image img{
    width:100%;
    max-height:400px;
    object-fit:contain;
    transition:.3s;
}
/* CART PAGE */
.cart {
    padding: 50px 0;
}

#cartItems div {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
    background: white;
    padding: 10px;
    border-radius: 8px;
}

#cartItems img {
    width: 50px;
}

#cartItems button {
    padding: 5px 10px;
    cursor: pointer;
}
.product-image img:hover{transform:scale(1.2)}

.quantity{display:flex;gap:10px;margin:15px 0}

/* RESPONSIVE */
@media(max-width:768px){
    .product-grid{grid-template-columns:repeat(2,1fr)}
    .product-detail-grid{grid-template-columns:1fr}
}

@media(max-width:500px){
    .product-grid{grid-template-columns:1fr}
}
